---
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon';

//import components
import Main from '@components/Main.astro';
import ServiceCard from '@components/ServiceCard.astro';
import Button from '@components/Button.astro';
import Link from '@components/Link.astro';
import ChecklistItem from '@components/ChecklistItem.astro';

---

<Layout title="Mon corps libéré | massage">

<Main class="flex-1">
<!-- Hero massage -->
<section class="section relative mt-36 overflow-hidden">
    <div class="container">
      <div class="max-w-5xl text-center mx-auto">
        <h1 class="headline headline-h1">L'art du massage bien-être</h1>
        <p class="">Ensemble de techniques, telles que pétrissage, pression, vibration, drainage, etc., s’exerçant sur différentes parties du corps dans un dessein de bien-être.</p>
      </div>
  
      <div class="mt-10 relative max-w-5xl mx-auto">
        <div class="w-full object-cover h-96 sm:h-[30rem] md:h-[32rem] bg-[url('../images/massage/massage_2.jpg')] bg-no-repeat bg-center bg-cover rounded-xl"></div>
      </div>
    </div>
  </section>

   <!-- Features massages -->
   <section class="section bg-dark">
    <div class="container">
        <div class="Services__grid--wrapper flex justify-center">
            <ul class="grid grid-cols-[repeat(auto-fill,minmax(20rem,1fr))] lg:grid-cols-3 gap-4 md::gap-6 xl:gap-8 p-2">
                <ServiceCard
                    title='Lomi-Atsu'
                    description="Combinaison de LOMI-LOMI, technique hawaïenne alliant douceur et force, et de SHIATSU ou l’art, subtil, de prendre le temps par la pression locale de points d’acupuncture."
                />
                <ServiceCard
                    title='Suédois'
                    description="Adapté à la détente et au soulagement curatif de tensions chroniques. S’appuie sur de belles connaissances anatomiques."
                />
                <ServiceCard
                    title='À domicile'
                    description="Harmonie, ponctualité, respect et professionnalisme."
                />
                
            </ul>
        </div>
    </div>
</section>

  <!-- services -->
  <section class="section bg-brand-500/20">	
    <div class="container">
        <div class="sectionTitle w-full mx-auto max-w-prose space-y-4 text-center pb-12 lg:pb-16">
            <div class="groupTitle space-y-1">
                <span class="tagline">Améliorer votre qualité de vie au quotidien</span>
                <h2 class="headline headline-h2">Notre offre massage</h2>
            </div>
            <div class="subheadline-wrapper w-full">
                <p class="sub__headline text-base">
                    La prestation offerte est un massage bien-être de détente, ou de réduction de tensions, donné à domicile.
                </p>
            </div>
        </div>
        
        <div class="services grid gap-14">
            <!-- offre massage -->
            <div class="md:grid md:grid-cols-2 md:items-center md:gap-12 lg:gap:16 ">
                
                <div class="flex md:justify-center">
                    <Image
                        class="rounded-2xl shadow-lg"
                        width={576}
                        height={576}
                        src="/images/massage/massage_3.jpg"
                        alt="Image Description"
                    >
                </div>
                
            
                <div class="mt-5 sm:mt-10 lg:mt-0">
                    <div class="space-y-6 sm:space-y-8">
                    <!-- Title -->
                    <div class="space-y-2 md:space-y-4">
                        <h3 class="headline headline-h3">
                            Massage sur table
                        </h3>
                        <p>
                            Le massage sur table, se donne sous un drap ou une serviette longue et seule la partie massée est découverte. Le massage peut être donné avec ou sans huile.
                            <br>
                            En peu de temps, la magie opère, la détente s’installe.
                        </p>
                    </div>
            
                    <!-- List -->
                    <ul role="list" class="space-y-2 sm:space-y-4">
                        <ChecklistItem
                            label='Relaxe ou dynamise'
                        />
                        <ChecklistItem
                            label='Soulage les tensions musculaires'
                        />
                        <ChecklistItem
                            label='Libère des endorphines'
                        />
                        <ChecklistItem
                            label='Facilite le sommeil'
                        />
            
                    </ul>
                    <!-- End List -->
                    </div>
                    <br>
                    <p>Si vous souhaitez recevoir un massage sur table choisissez le forfait <span class="font-medium uppercase italic">atoumo</span> pour 60 minutes au tarif de 70€, ou le forfait <span class="font-medium uppercase italic">mango</span> pour un massage de 30 minutes au tarif de 40€.</p>
                
                    <br>
                    <Link
                        role='link'
                        label="Voir tous les tarifs"
                        href= "/#tarifs-individuel"
                        icon={{
                        name:'arrow-right',
                        side: 'right'
                        }}
                        classes='link'
                    />
                </div>
            </div>
        </div>
    </div>			
</section>

	<!-- CTA -->
    <section class="section bg-brand">
        <div class="container">
            <div
                class="relative z-10 overflow-hidden rounded-2xl bg-offwhite shadow-lg shadow-dark/20 px-8 md:p-[70px]"
            >
                <div class="-mx-4 flex flex-wrap items-center">
                    <div class="sectionTitle w-full mx-auto max-w-prose space-y-4 text-left pb-12 lg:pb-16 lg:w-1/2">
                        <div class="groupTitle space-y-1">
                            <span class="tagline"></span>
                            <h2 class="headline headline-h2">MCL se propose de vous relaxer</h2>
                        </div>
                        <div class="subheadline-wrapper w-full">
                            <p class="sub__headline text-base">Pour cela, il vous suffit de nous contacter afin d'obtenir réponse à vos questions et de prendre rendez-vous.</p>
                        </div>
                    </div>
                <div class="w-full px-4 lg:w-1/2">
                    <div class="flex flex-wrap lg:justify-end gap-6">
                        <Button 
                            type='button'
                            role="link"
                            href='tel:+596 6 96 09 08 77'
                            label='Nous téléphoner'
                            icon={{
                                name:"phone-call",
                                side:"right"
                            }}
                            classes={'isFilled'}
                        />
                    </div>
                </div>
                </div>
        
                <div>
                <span class="absolute top-0 left-0 z-[-1]">
                    <svg
                    width="189"
                    height="162"
                    viewBox="0 0 189 162"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    >
                    <ellipse
                        cx="16"
                        cy="-16.5"
                        rx="173"
                        ry="178.5"
                        transform="rotate(180 16 -16.5)"
                        fill="url(#paint0_linear)"
                    />
                    <defs>
                        <linearGradient
                        id="paint0_linear"
                        x1="-157"
                        y1="-107.754"
                        x2="98.5011"
                        y2="-106.425"
                        gradientUnits="userSpaceOnUse"
                        >
                        <stop stop-color="white" stop-opacity="0.07" />
                        <stop offset="1" stop-color="white" stop-opacity="0" />
                        </linearGradient>
                    </defs>
                    </svg>
                </span>
                <span class="absolute bottom-0 right-0 z-[-1]">
                    <svg
                    width="191"
                    height="208"
                    viewBox="0 0 191 208"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    >
                    <ellipse
                        cx="173"
                        cy="178.5"
                        rx="173"
                        ry="178.5"
                        fill="url(#paint0_linear)"
                    />
                    <defs>
                        <linearGradient
                        id="paint0_linear"
                        x1="-3.27832e-05"
                        y1="87.2457"
                        x2="255.501"
                        y2="88.5747"
                        gradientUnits="userSpaceOnUse"
                        >
                        <stop stop-color="white" stop-opacity="0.07" />
                        <stop offset="1" stop-color="white" stop-opacity="0" />
                        </linearGradient>
                    </defs>
                    </svg>
                </span>
                </div>
            </div>
        </div>
    </section>

</Main>

</Layout>