---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon';
import Button from './Button.astro';

---

<header class="section py-0 fixed flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full text-sm bg-gray-900/30 backdrop-blur-lg md:bg-offwhite">
    <nav class="container relative w-full max-h-fit md:flex md:items-center md:justify-between py-2" aria-label="Global">
      <div class="flex items-center justify-between">
        <div class="logo-wrapper h-full">
          <a 
              href="/"
              aria-label="lien vers la page d'accueil"
              class="flex-none"
           >
              <Image
                  src="/logo-mcl.svg"
                  alt="logo - MCL" 
                  width={60}
                  height={60}
                  class="logo__img block w-16">
          </a>
        </div>

        <!-- Mobile menu-button -->
        <div class="md:hidden">
            <button type="button" class="hs-collapse-toggle p-2 inline-flex justify-center items-center gap-2 rounded-full border bg-white text-brand shadow-sm align-middle hover:bg-brand/20 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-brand transition-all text-sm" data-hs-collapse="#navbar-collapse-with-animation" aria-controls="navbar-collapse-with-animation" aria-label="Toggle navigation">
              <svg class="hs-collapse-open:hidden w-4 h-4" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
              <svg class="hs-collapse-open:block hidden w-4 h-4" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </button>
        </div>
      </div>
      
      <!-- menu -->
      <nav id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block">
        <ul class="flex flex-col gap-y-4 gap-x-0 mt-5 md:flex-row md:items-center md:justify-end md:gap-y-0 md:gap-x-7 md:mt-0 md:pl-7">
          <div class="hs-dropdown [--strategy:static] md:[--strategy:fixed] [--adaptive:none] md:[--trigger:hover] md:py-4">
            <button type="button" class="flex items-center w-full hover:underline decoration-brand hover:underline-offset-4 transition duration-300 ease-in-out text-brand-darken md:text-gray">
              Offre particuliers
              <svg class="ml-2 w-2.5 h-2.5 text-gray-600" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 5L8.16086 10.6869C8.35239 10.8637 8.64761 10.8637 8.83914 10.6869L15 5" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path>
              </svg>
            </button>
  
            <div class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] md:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 md:w-48 hidden z-10 bg-offwhite md:shadow-md rounded-lg p-2 before:absolute top-full md:border md:border-brand before:-top-5 before:left-0 before:w-full before:h-5">
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-md text-sm md:text-gray hover:bg-brand focus:ring-2 focus:ring-brand" href="/massage">
                Massage
              </a>
  
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-md text-sm md:text-gray hover:bg-brand focus:ring-2 focus:ring-brand" href="/sophrologie">
                Sophrologie
              </a>
              <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-md text-sm md:text-gray hover:bg-brand focus:ring-2 focus:ring-brand" href="/luxson">
                Luxson
              </a>
            </div>
          </div>

          <li class="nav__item hover:underline decoration-brand hover:underline-offset-4 transition duration-300 ease-in-out text-brand-darken md:text-gray md:py-6"><a href="/#tarifs-individuel" aria-current="page" class="nav__link">Tarifs</a></li>
          <li class="nav__item hover:underline decoration-brand hover:underline-offset-4 transition duration-300 ease-in-out text-brand-darken md:text-gray md:py-6"><a href="entreprise" class="nav__link">Offre entreprise</a></li>
          <li class="nav__item hover:underline decoration-brand hover:underline-offset-4 transition duration-300 ease-in-out text-brand-darken md:text-gray md:py-6"><a href="/présentation" class="nav__link">Présentation</a></li>

          <div class="header-cta__wrapper basis-1/3 flex justify-start md:justify-center">
            <Button
                type="button"
                href='mailto:bonjour@moncorpslibéré.fr'
                role='link'
                label='Nous contacter'
                icon={{
                    name:"ph:envelope-simple",
                    side:"right"
                }}
                classes={"isFilled sm"}
            />
          </div>
        </ul>
      </nav>
    </nav>
  </header>